@import url('https://fonts.googleapis.com/css?family=Bitter');
body {
   font-family: 'Bitter', serif;
   margin: 6% !important;
   background: url(5169.jpg);
   background-size: cover;
}
div {
    text-align: center;
}
.intro {
    font-family: 'Lateef', cursive;
    font-size: 120px;
    background: -webkit-linear-gradient(right, #348F50, #56B4D3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 5%;
}
.wrapper {
  text-align: center;
  margin-top: 5%;
}
#quran_quotes {
    font-size: 24px;
    text-align: center;
    margin:3% auto 2%;
    max-width: 800px;
    background: -webkit-linear-gradient(right, #16222A,#3A6073);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     transition: color 2s ease 0s;
}
#get {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-transform: capitalize;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #3b976c;
    border: none;
    border-radius: 2px;
}
div#quran_ref_quotes, a {
    font-family: sans-serif;
    font-size: 17px;
    color: #2b6b64 !important;
    font-weight: bold;
    text-align: center;
    padding: 3px;
    background: rgba(242, 255, 255, 0.88);
    border-radius: 3px;
    width: inherit;
    margin: 6% auto;
}
@media only screen and (min-device-width : 220px) and (max-device-width : 480px) {
    body {
        background-size: 1000px;
    }
    .intro {
    font-size: 80px;
    }
    .wrapper {
    text-align: center;
    margin-top: 15%;
    }
    #quran_quotes {
    font-size: 20px;
    margin-top: 25%;
    }
    #get {
    font-size: 18px;
    top: 90%
    }
    div#quran_ref_quotes, a {
    font-size: 15px;
    width: 150px;
    margin-top: 10%;
    }

}